body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    user-select: none;
}

.nav-wrapper {
    position: relative;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav a img {
    padding-right: 7px;
    height: 27px;
    filter: opacity(.8);
}

.nav-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0px;
    margin: 0;
}

.nav img {
    height: 23px;
    filter: opacity(.8);
}

.nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    color: rgba(255, 255, 255, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in;
}

.nav li a p {
    margin-block-start: 0;
    margin-block-end: 0;
    letter-spacing: 1px;
}

.nav img:hover,
.nav li:hover,
.nav a:hover {
    filter: opacity(1);
    filter: brightness(2);
    color: rgba(255, 255, 255, 2);
    transition: .2s ease-in;
    letter-spacing: 3px;
    cursor: pointer;
}

.search-wrapper {
    display: block;
    background-color: rgba(0, 0, 0, .8);
    transition: all .2s ease-out;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.reveal {
    display: block;
    opacity: 1;
    height: 260px;
}

.blur {
    filter: blur(4px);
}

.search-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

.search-bar input {
    margin-left: 10px;
    flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, .8);
}

.search-bar input:focus {
    outline: none;
}

.search-bar img {
    height: 20px;
    filter: opacity(.8);
}

.search-wrapper span {
    padding-bottom: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
}

.search-wrapper ul {
    padding-inline-start: 0;
    padding-left: 15px;
    margin: 0 0 25px 0;
    list-style: none;
}

.search-wrapper ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}

.inventory-wrapper {
    display: block;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    width: 400px;
    height: 0px;
    right: 15px;
    top: 70px;
    overflow: hidden;
    transition: all .2s ease-out;
    border-radius: 21px;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0;
}

.reveal1 {
    transition: all .2s ease-out;
    display: block;
    height: 450px;
    opacity: 1;
}

.state_false {
    visibility: hidden;
}

.inventory-container {
    position: absolute;
    padding: 35px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, .8);
}

.inventory-title01 {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 33px;
    font-weight: bold;
}

.inventory-title01 a {
    color: rgba(37, 139, 235, 0.8);
}


.inventory-container-logged {
    padding: 35px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, .8);
}

.user-info {
    width: 100%;
    font-size: 27px;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
}

.user-info .uname {
    font-size: 33px; 
    font-weight: bold;
}

.user-options {
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.user-options img {
    height: 25px;
}

.user-options li {
    margin-left: 10px;
    padding-left: 10px;
    width: 350px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 13px;
    border: 2px solid transparent;
    transition: all .2s linear;
}

.user-options li a {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 21px;
}

.user-options li:hover {
    border-color: rgba(255, 255, 255, 1);
}