body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 1);
}

.navigation-bar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    user-select: none;
}

.footer-bar {
    bottom: 0;
    width: 100%;
    z-index: 9999;
    user-select: none;
  }

section {
    padding-top: 50px;
    background-color: #f5f6f7;
}

.container-fluid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px 0px;
}

.content-view .product-title {
    color: rgba(0, 0, 0, 1);
    width: 100%;
    text-align: left;
    padding-left: 25px;
    font-size: 35px;
    border-bottom: 1px solid black;
}

.content-view .product-container {
    display: grid;
    margin-left: 30px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-template-rows: 480px;
    gap: 30px;
    padding: 20px 0px;
}

.product-container .item {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 0px;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    transition: all .2s ease-out;
}

.product-container .item:hover {
    box-shadow: rgba(101, 222, 255, 1) 0px 5px 15px;
}

.product-container .item:active {
    transform: scale(0.90);
}

.item-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-container .item img {
    width: 100%;
}

.product-container .item .item-inner .p-name {
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    padding: 15px 0px 0px 20px;
}

.product-container .item .item-inner .p-price {
    font-size: 21px;
    font-weight: normal;
    color: rgb(235, 0, 0, 1);
    padding: 15px 0px 10px 20px;
}

.product-container .item .item-inner .p-price::before {
    content: 'Từ ';
    font-size: 21px;
    font-weight: normal;
    color: rgb(235, 0, 0, 1);
}

.product-container .item .item-inner .p-price::after {
    content: 'đ';
    font-size: 21px;
    font-weight: normal;
    color: rgb(235, 0, 0, 1);
}
