* {
    box-sizing: border-box;
}

.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    user-select: none;
}

body {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f5f6f7;
    min-height: 100%;
    margin: 10%;
}

section {
    margin-top: 200px;
}

.all-container {
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
}

.sign-up, .sign-in {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-up {
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.sign-in {
    width: 50%;
    z-index: 2;
}

.all-container form {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.all-container h1 {
    font-weight: bold;
    margin: 0;
}

.all-container p {
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
}

.all-container input {
    background: #eee;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}

.all-container a {
    color: #333;
    font-size: 15px;
    text-decoration: none;
    margin: 15px 0;
}

.all-container button {
    color: #fff;
    background: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 21px;
    border: 1px solid #000000;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.all-container button:active {
    transform: scale(0.90);
}

#signIn, #signUp {
    background-color: transparent;
    border: 2px solid #fff;
}

.all-container.right-panel-active .sign-in {
    transform: translateX(100%);
}

.all-container.right-panel-active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.all-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    position: relative;
    color: #fff;
    background: #111111;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #000000,  #111111);
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.all-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-left, .overlay-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.all-container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.all-container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.alert {
    font-size: 17px;
    color: red;
}
